<div class="ui secondary pointing menu">
    <a class="item" href="/">
        Home
    </a>
    <a class="item" href="/todo">
        ToDo
    </a>
    <a class="item active" href="/history">
        History
    </a>
    <div class="right menu">
        <a class="ui item" href="/login">
            Login
        </a>
    </div>
</div>