<div class="ui secondary pointing menu">
    <a class="item active" href="/">
        Home
    </a>
    <a class="item" href="/todo">
        ToDo
    </a>
    <a class="item" href="/history">
        History
    </a>
    <div class="right menu">
        <a class="ui item" href="/logout">
            Logout
        </a>
    </div>
</div>

<form class="ui form container" id="installForm">
    <div id="errorMessage"></div>
    <div class="field">
        <label for="date">Install date</label>
        <input type="date" name="date" id="installDate" required>
    </div>

    <div class="field">
        <label for="install">Install name</label>
        <input type="text" name="install" id="installName" required>
    </div>

    <div class="form-group field">
        <label for="isntallType">Install type</label>
        <select class="form-control" id="installType">
            <option>Walk-in bath</option>
            <option>Walk-in shower</option>
            <option>Tub shower</option>
            <option>Tub bath</option>
        </select>
    </div>
    <div class="field">
        <label for="install">Price</label>
        <div class="ui labeled input">
            <label for="isntallPrice" class="ui label">$</label>
            <input type="number" id="installPrice" required>
        </div>
    </div>

    <div class="special-options">
        <div class="ui slider checkbox">
            <input type="checkbox" name="virtual" id="virtualOpt">
            <label for="virtual">Virtual</label>
        </div>

        <div class="ui slider checkbox">
            <input type="checkbox" name="digital" id="digitalOpt">
            <label for="digital">Digital</label>
        </div>

        <div class="ui slider checkbox">
            <input type="checkbox" name="hoa" id="hoaOpt">
            <label for="hoa">HOA</label>
        </div>
    </div>

    <div class="form-group field">
        <label for="salesman">Salesman</label>
        <select class="form-control" id="salesman">
            <option>AJ</option>
            <option>Arod</option>
            <option>Isaiah</option>
            <option>Tom</option>
            <option>Jack</option>
        </select>
    </div>

    <div class="field">
        <label for="installer">Installer</label>
        <input type="text" name="installer" id="installerName" required>
    </div>

    <div class="ui icon input">
        <input type="number" placeholder="Fees" id="feeInput">
        <i class="inverted circular plus circle link icon" id="addFeeBtn"></i>
    </div>

    <div class="ui list" id="feesDiv">
    </div>

    <div class="field" id="paymentStatusDiv">
        <label>Payment status</label>
        <button class="ui toggle button" id="paidInFullBtn">Paid in full</button>

        <button class="ui toggle button" id="notPaidInFullBtn">Payment still needed</button>
    </div>


    <div class="field hide" id="paymentReceivedDiv">
        <label for="paymentReceived">Payment received</label>
        <div class="ui labeled input">
            <label for="paymentReceived" class="ui label">$</label>
            <input type="number" placeholder="Payment received" id="paymentReceivedInput">
        </div>
    </div>

    <div class="ui labeled input">
        <label for="paymentMethod" class="ui label"><i class="money bill alternate outline icon"></i> Payment
            method</label>
        <select class="form-control" id="paymentMethod">
            <option>Credit Card</option>
            <option>Check</option>
            <option>TIME</option>
            <option>Greensky</option>

        </select>
    </div>


    <div class="field" id="notesArea">
        <label for="notes mini">Notes</label>
        <textarea name="notes" id="installNotes" cols="30" rows="10"></textarea>
    </div>

    <button class="ui button large fluid" type="submit" id="installSubmitBtn">Submit install</button>
</form>