<div class="ui secondary pointing menu">
    <a class="item" href="/">
        Home
    </a>
    <a class="item" href="/todo">
        ToDo
    </a>
    <a class="item" href="/history">
        History
    </a>
    <div class="right menu">
        <a class="ui item active" href="/login">
            Login
        </a>
    </div>
</div>

<form class="ui form container" id="loginForm">
    <div id="errorMessage"></div>
    <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="your@email.com" id="email">
    </div>
    <div class="field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    
    <button class="ui button" type="submit" id="loginBtn">Login</button>
</form>