<h2>Register User {{uuid}}</h2>
<hr>

<form class="ui form">
    <div class="field">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" placeholder="John" id="firstName">
    </div>
    <div class="field">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" placeholder="Doe" id="lastName">
    </div>
    <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="your@email.com" id="emailInput">
    </div>
    <div class="field">
        <label for="password">Password</label>
        <input type="password" name="password" id="passwordInput">
    </div>
    <div class="field">
        <label for="confirm_password">Confirm Password</label>
        <input type="password" name="confirm_password" id="confirmPasswordInput">
    </div>
    
    <button class="ui button" type="submit" id="loginBtn">Register</button>
</form>