body{
    background-color: #a8a8a8;
}

.ui.secondary.pointing.menu, .ui.secondary.pointing.menu .item, .ui.secondary.pointing.menu .item.active{
    background-color: black;
    color: white;
}

#message {
    margin: 20px 0;
}

#errorMessage {
    margin: 20px 0;
    font-size: 16px;
    color: red;
}
#successMessage {
    margin: 20px 0;
    font-size: 16px;
    color: #009c00;
}

.deletedName {
    font-weight: bold;
    color: #006900;
}

.special-options{
    display: inline-block;
    margin: 20px 0 20px 50px;
}

.special-options div{
    margin-right: 10px;
}

#installSubmitBtn, #paidInFullBtn{
    margin-top: 20px;
    display: block;
}

#installSubmitBtn{
    margin: 10px auto;
}

.ui.toggle.button.paid{
    background-color: green;
    color: white;
}

.ui.toggle.button.unpaid{
    background-color: red;
    color: white;
}

.hide{
    display: none;
}

#paymentStatusDiv{
    margin-top: 10px;
}

#paymentStatusDiv button{
    margin-top: 0;
    display: inline-block;
}

#notesArea{
    margin-top: 10px;
}

#feesDiv{
    display: block;
    width: 200px;
}

.feeItem{
    color: red;
}

.ui.icon.button.delFeeBtn{
    background-color: white;
}

.outstanding{
    color: red;
}